// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

Default configuration for iOS projects.

This file will be turned into a header file called IOSDefault.config.h by a
run script and be embedded into the binary.

$(DEVICES_RE) and $(EXTS_RE) are variables that will be replaced by regular
expression patterns matching device modifiers ~ipad|~iphone|... and supported
image extensions png|jpg|...

@LintImageDefault: @1x @2x

@LintInfoPlist: Info.plist

@LintResourceMatch: /(?:$(DEVICES_RE))@2x\.(?i:$(EXTS_RE))$/
@LintWarning: Invalid ~device/@scale order in filename

@LintResourceMatch: /\.(?i:c|h|m|mm|cpp)$/
@LintWarning: Source code file included in bundle

@LintResourceMatch: /(?i:README)(?!\.(?i:c|h|m|mm|cpp)$)/
@LintWarning: Documentation file included in bundle

@LintSourceMatch: [[UIImage alloc] initWithContentsOfFile:@]
@LintFile: $1
@LintSourceMatch: [UIImage imageNamed:@]
@LintImage: $1
@LintSourceMatch: [UIImage imageWithContentsOfFile:@]
@LintFile: $1
TODO: animatedImageWithImages:duration:

@LintSourceMatch: [[NSBundle mainBundle] URLForResource:@ withExtension:@ subdirectory:@]
@LintFile: $3/$1.$2
@LintSourceMatch: [[NSBundle mainBundle] URLForResource:@ withExtension:@]
@LintFile: $1.$2
@LintSourceMatch: [[NSBundle mainBundle] pathForResource:@ ofType:@]
@LintFile: $1.$2
@LintSourceMatch: [[NSBundle mainBundle] pathForResource:@ ofType:@ inDirectory:@]
@LintFile: $3/$1.$2
@LintSourceMatch: [[NSBundle mainBundle] URLForResource:@ withExtension:@ subdirectory:@ localization:@]
@LintFile: $4.lproj/$3/$1.$2
@LintSourceMatch: [[NSBundle mainBundle] pathForResource:@ ofType:@ inDirectory:@ forLocalization:@]
@LintFile: $4.lproj/$3/$1.$2
@LintSourceMatch: [[NSBundle mainBundle] loadNibNamed:@ owner: options:]
@LintNib: $1
TODO: other bundles

@LintSourceMatch: [UINib nibWithNibName:@ bundle:]
@LintNib: $1

@LintSourceMatch: [[*ViewController alloc] initWithNibName:@ bundle:]
@LintNib: $1
TODO: look at the nibName property doc, "Controller" stripped?
TODO: only main bundle currently

@LintSourceMatch: [[NSString alloc] initWithContentsOfFile:@]
@LintFile: $1
@LintSourceMatch: [NSString stringWithContentsOfFile:@]
@LintFile: $1
@LintSourceMatch: [[NSString alloc] initWithContentsOfFile:@ encoding: error:]
@LintFile: $1
@LintSourceMatch: [NSString stringWithContentsOfFile:@ encoding: error:]
@LintFile: $1
@LintSourceMatch: [[NSString alloc] initWithContentsOfFile:@ usedEncoding: error:]
@LintFile: $1
@LintSourceMatch: [NSString stringWithContentsOfFile:@ usedEncoding: error:]
@LintFile: $1

@LintSourceMatch: [[NSData alloc] initWithContentsOfFile:@]
@LintFile: $1
@LintSourceMatch: [[NSData alloc] initWithContentsOfFile:@ options: error:]
@LintFile: $1
@LintSourceMatch: [NSData dataWithContentsOfFile:@]
@LintFile: $1
@LintSourceMatch: [NSData dataWithContentsOfFile:@ options: error:]
@LintFile: $1
TODO: dataWithContentsOfMappedFile:?

@LintSourceMatch: [[NSArray alloc] initWithContentsOfFile:@]
@LintFile: $1
@LintSourceMatch: [NSArray arrayWithContentsOfFile:@]
@LintFile: $1

@LintSourceMatch: [[NSDictionary alloc] initWithContentsOfFile:@]
@LintFile: $1
@LintSourceMatch: [NSDictionary dictionaryWithContentsOfFile:@]
@LintFile: $1

@LintSourceMatch: [NSCharacterSet characterSetWithContentsOfFile:@]
@LintFile: $1

@LintSourceMatch: [[NSFileManager defaultManager] contentsAtPath:@]
@LintFile: $1
@LintSourceMatch: [[NSFileManager defaultManager] contentsEqualAtPath:@ andPath:@]
@LintFile: $1
@LintFile: $2
TODO: init?

@LintSourceMatch: [NSKeyedUnarchiver unarchiveObjectWithFile:@]
@LintFile: $1

@LintSourceMatch: [[NSInputStream alloc] initWithFileAtPath:@]
@LintFile: $1
@LintSourceMatch: [NSInputStream inputStreamWithFileAtPath:@]
@LintFile: $1

@LintSourceMatch: [NSFileHandle fileHandleForReadingAtPath:@]
@LintFile: $1
@LintSourceMatch: [NSFileHandle fileHandleForUpdatingAtPath:@]
@LintFile: $1

@LintSourceMatch: [[GLKTextureLoader alloc] textureWithContentsOfFile:@ options: queue: completionHandler:]
@LintFile: $1
@LintSourceMatch: [GLKTextureLoader textureWithContentsOfFile:@ options: error:]
@LintFile: $1
@LintSourceMatch: [[GLKTextureLoader alloc] cubeMapWithContentsOfFile:@ options: queue: completionHandler:]
@LintFile: $1
@LintSourceMatch: [GLKTextureLoader cubeMapWithContentsOfFile:@ options: error:]
@LintFile: $1
@LintSourceMatch: [[GLKTextureLoader alloc] cubeMapWithContentsOfFiles:@ options: queue: completionHandler:]
@LintFile: $1
@LintSourceMatch: [GLKTextureLoader cubeMapWithContentsOfFiles:@ options: error:]
@LintFile: $1

TODO: NSFileCoordinator
TODO: NSFileWrapper
TODO: UIDocument
TODO: URL?
TODO: write to paths?
